h2 {
    font-size: 1.35em;
}
h3 {
    font-size: 1.1em;
}
h4 {
    font-size: 0.9em;
}
h5 {
    font-size: 0.9em;
}
h6 {
    font-size: 0.9em;
}
h7 {
    font-size: 0.9em;
}
h8 {
    font-size: 0.9em;
}
h9 {
    font-size: 0.9em;
}
h10 {
    font-size: 0.9em;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #808386 !important;
}
pre {
    line-height: 1.5rem;
    background-color: #454545;
}
code {
    letter-spacing: 0;
    color: #777777;
    background-color: #454545;
    line-height: 0.1em;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fffff3;
    }
    p {
        background-color: #ffffff;
        color: #222222;
    }
    pre {
        background-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        border-color: #222222;
    }
    code {
        letter-spacing: 0;
        color: #444444 !important;
        background-color: #ffffff;
        line-height: 0.1em;
    }
    .hljs-params {
        color: #444444;
    }
    .nc {
        color: #ff88bb;
    }

    .hljs-keyword {
        font-weight: bold;
        color: #dd5757;
    }

    .hljs-function > .hljs-title {
        color: #3377ff;
    }

    .hljs-class > .hljs-title {
        color: #3377ff;
    }

    .hljs-number {
        color: #ffaa33;
    }

    .hljs-string {
        color: #ffaa33;
    }

    .n {
        color: #ff88bb;
    }

    .p {
        color: #777777;
    }
    .k {
        color: #88ccff;
    }
}
@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6, h7, h8, h9, h10 {
        color: #eeeecc
    }
    p {
        background-color: #51515d;
        color: #ffffff;
    }
    body {
        background-color: #333333;
        color: #eeeecc
    }
    a {
        color: #eeeecc !important;
    }
    .title-color {
        color: #eeeecc !important;
    }
    small {
        color: #eeeecc !important;
    }
    .dropdown-item {
        color: #111111 !important;

    }
    pre {
        background-color: #454545;
    }
    code {
        letter-spacing: 0;
        color: #777777;
        background-color: #454545;
        line-height: 0.1em;
    }
    p > code {
        background-color: #454545;
        border-radius: 2px;
        color: #eeeecc!important;
    }

    .hljs-params {
        color: #ededed;
    }
    .nc {
        color: #ff88bb;
    }

    .hljs-title {
        color: #ededed;
    }


    .hljs-keyword {
        font-weight: bold;
        color: #dd8888;
    }

    .hljs-function > .hljs-title {
        color: #88ccff;
    }

    .hljs-class > .hljs-title {
        color: #88ccff;
    }

    .hljs-number {
        color: #ffcc77;
    }

    .hljs-string {
        color: #ffcc77;
    }

    .n {
        color: #ff88bb;
    }

    .p {
        color: #777777;
    }
    .k {
        color: #88ccff;
    }
}

p {
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
    line-height: 1.6rem;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

p > code {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    line-height: 1.6rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
